<content tag="nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Меню<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="">Инциденты</a></li>
            <li><a href="${request.contextPath}/department">Цеха (подразделения)</a></li>
            <li><a href="#">Справочные материалы</a></li>
            <li><a href="#">Пользователи</a></li>
            <li><a href="#">Настройки приложения</a></li>
            <li><a href="#"></a></li>
        </ul>
    </li>
</content>