#list-incident table th {
    font-weight: bold;
}

#list-incident * {
    width: 100%;
}

.pagination.pagination-custom {
    line-height: 15px;
    background-color: cornsilk;
    font-size: 13px;
}

.alert-popup {
    color: #316dad;
    left: 50%;
    position: relative;
    line-height: 10px;
    font-size: 15px;
    font-weight: bold;
}

.green {
    color: #41ac42;
}

.red {
    color: #ac242e;
}

.blue {
    color: #88d0ff !important;
}

.create-f {
    background-color: #ebffa7;
    border: 3px solid #fcffc4;
    box-shadow: 5px 5px 5px grey;
    border-radius: 5px;
    margin: 10px;
}

.fieldset {
    border: 1px solid gray;

}

.fieldset > legend {
    border: 0;
    font-size: 16px;
    width: auto;
}

.actions-cell {
    text-align: center;
    width: 20px;
}

.actions-cell a {
    margin: 5px;
}

#estesc